<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="showdiv">
        <form action="/gear/<%= gear._id %>?_method=PUT" method="post">
          <fieldset>
              <legend>EDIT <%= gear.name %></legend>
            <label>
              Name:<input
                type="text"
                name="name"
                value="<%= gear.name %>"
                placeholder="enter model name"
              />
            </label>
            <label>
              Maker:<input
                type="text"
                name="maker"
                value="<%= gear.maker %>"
                placeholder="enter maker name"
              />
            </label>
            <label>
            <label>
              Type:<input
                type="text"
                name="type"
                value="<%= gear.type %>"
                placeholder="enter gear type"
              />
            </label>
            <label>
              Price:<input
                type="number"
                name="price"
                value="<%= gear.price %>"
                placeholder="enter gear price"
              />
            </label>
            <label>
              Description:<input
                type="text"
                name="description"
                value="<%= gear.description %>"
                placeholder="enter description of gear"
              />
            </label>
              NEW: <input type="checkbox" name="new" <%= gear.new ? "checked" : "" %> />
            </label>
          </fieldset>
          <label>
            USED: <input type="checkbox" name="used" <%= gear.used ? "checked" : "" %> />
          </label>
        </fieldset>
          <input type="submit" value="Update <%= gear.name %>" />
        </form>
      </div>
    </main>
  </body>
</html>