<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>

        <article>
          <h2><%= gear.name %>, by <%= gear.maker %></h2>
          <h3>$<%= gear.price %></h3>
          <h4><%= gear.type %></h4>
          <h5><%= gear.description %></h5>
          <a href="/gear/<%= gear._id %>/edit"><button>Edit</button></a>
          <form action="/gear/<%= gear._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
          </form>
          <a href="/gear/"><button>Back to Main</button></a>
        </article>

      </div>
    </main>
  </body>
</html>